* {
    font-family: "Motiva Sans", Sans-serif;
    color: #fff;
    font-weight: 2;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 53px;
    width: 100%;
    height: 50px;
    background-color: #171D25;

    font-family: "Roboto";
    font-style: normal;
}

header a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

header img {
    padding-left: 50px;
    height: 40px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.menu-elements:hover {
    border-bottom: #fff solid 2px;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    background: #1B2838;

    font-family: "Roboto";
    font-style: normal;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #070d1b;
    font-size: 22px;
    text-transform: uppercase;
}

main a {
    color: #070d1b;
    text-decoration: none;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
}

#main,
#Shop,
#Library {
    display: block;
    padding: 20px 20px;
    width: fit-content;
    height: fit-content;
    background-color: #070d1b;
    border-radius: 50px;
    margin-bottom: 50px;
}
#main{
    margin-top: 50px;
}
.games{
    display: flex;
    gap: 50px;
    flex-direction: row;
}
.library_text {
    position: absolute;
    margin-left: 70%;
}

.game {
    display: block;
    position: relative;
    flex-direction: row;
}

footer {
    background-color: #171a21;
    color: #fff;
    text-align: center;
    padding: 8px;
}